<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>VUE To Do List</title>
    <!-- FA CDN -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <!-- CSS -->
    <link rel="stylesheet" href="./assets/css/style.css" />
  </head>
  <body>
    <div id="app">
      <div id="add_quest">
        <img src="./assets/img/wolf.png" alt="logo witcher" />
        <input
          type="text"
          :minlength="minCharact"
          v-model="newQuest"
          v-on:keyup.enter="addQuest"
        />
        <button @click="addQuest">Add Quest</button>
      </div>

      <div id="list" v-if="journal.length >0">
        <div id="to_do_list" v-for="(quest,index) in journal">
          <p contenteditable="true" v-on:keyup.enter="questUpdate(e)">
            {{quest}}
          </p>
          <i
            class="fas fa-check-circle"
            @click="completeQUest(quest, index)"
          ></i>
          <i class="fas fa-times-circle" @click="removeQuest(index)"></i>
        </div>
      </div>
      <div id="all_done" v-else>
        <p>All quest completed</p>
      </div>

      <div id="quest_completed" v-show="doneQuest.length > 0">
        <h3>Quest Completate</h3>
        <div id="completed_list" v-for="(quest, index) in doneQuest">
          <p>{{quest}}</p>
          <i class="fas fa-undo" @click="undoQuest(quest, index)"></i>
        </div>
      </div>

      <div id="quest_abandoned" v-show="abandonedQuest.length > 0">
        <h3>Quest Abbandonate</h3>
        <i class="fas fa-trash-alt" @click="deleteAllAbandoned"></i>
        <div id="abandoned_list" v-for="(quest, index) in abandonedQuest">
          <p>{{quest}}</p>
          <i class="fas fa-pray"></i>
        </div>
      </div>
    </div>

    <!-- VUE JS script -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <!-- Main JS -->
    <script src="./assets/js/main.js"></script>
  </body>
</html>
